<?xml version="1.0" ?>
<config>
    <modules>
        <Mivec_Shipping>
            <version>0.1</version>
        </Mivec_Shipping>
    </modules>

    <admin>
        <routers>
			<shipping>
				<use>admin</use>
				<args>
					<module>Mivec_Shipping</module>
					<frontName>shipping</frontName>
				</args>
			</shipping>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<mivec module="shipping">
				<title>MIVEC</title>
				<sort_order>71</sort_order> 
				<children>
					<shipping translate="title" module="shipping">
						<title>Shipping</title>
						<sort_order>71</sort_order> 
						<children>
							<carrier module="shipping" translate="title">
								<title>Carrier</title>
								<sort_order>1</sort_order>
								<action>shipping/adminhtml_carrier</action>
							</carrier>
							<quote module="shipping" translate="title">
								<title>Shipping Quote</title>
								<sort_order>3</sort_order>
								<action>shipping/adminhtml_quote</action>
							</quote>
						</children>    
					</shipping>
				</children>        
			</mivec>
		</menu>
		
		<layout>
			<updates>
				<shipping>
					<file>mivec_shipping.xml</file>
				</shipping>
			</updates>
		</layout>
    </adminhtml>
	
    <global>
        <models>
            <shipping>
                <class>Mivec_Shipping_Model</class>
				<resourceModel>shipping_mysql4</resourceModel>
            </shipping>
            <shipping_mysql4>
                <class>Mivec_Shipping_Model_Mysql4</class>
                <entities>
                    <country>
                        <table>mivec_shipping_country</table>
                    </country>
                    <carrier>
                        <table>mivec_shipping_carrier</table>
                    </carrier>
                    <quote>
                        <table>mivec_shipping_quote</table>
                    </quote>
                </entities>
            </shipping_mysql4>
        </models>
        <resources>
            <shipping_setup>
                <setup>
                    <module>Mivec_Shipping</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </shipping_setup>
            <shipping_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </shipping_write>
            <shipping_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </shipping_read>
        </resources>
        <blocks>
            <shipping>
                <class>Mivec_Shipping_Block</class>
            </shipping>
        </blocks>
        <helpers>
            <shipping>
                <class>Mivec_Shipping_Helper</class>
            </shipping>
        </helpers>
    </global>

    <default>
        <carriers>
            <mivec_shipping>
                <active>1</active>
                <model>mivec_shipping_model_rate_request</model>
                <title>Internation Express</title>
                <sallowspecific>0</sallowspecific>
                <sort_order>10</sort_order>
            </mivec_shipping>
        </carriers>
    </default>

</config>